{%  macro pageHeading(heading, subheading)%}

<h1 class='mb-2 text-4xl  font-heading sm:text-4xl md:mb-4 md:text-5xl'>{{heading}}</h1>

<p class='prose text-green-100 prose-base mb-4'>{{subheading}}</p>

{% endmacro %}