<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=J, initial-scale=1.0" />
    <title>{{ title }} | James Midzi</title>
  </head>
  <body>
  {# {% include "navigation.njk" %} #}
  <nav> 
    <a href='/'>Home</a>
    <a href='/potions'>Potions</a>
    <a href='/parchment'>Parchment</a>
  </nav>

  <main>
    {{ content | safe }}
    </main>
  </body>
</html>
