<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if title and title != 'Home' %}{{title}} | {% endif %}{{ config.siteTitle }}</title>
     <link rel="canonical" href="{{ config.url }}{{ page.url }}">

      <!-- Icons -->
       <link href="/assets/icons/favicon.ico" rel="shortcut icon" />
    <link rel="shortcut icon" type="image/png" href="/assets/seo/x16-favicon.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="/assets/seo/x32-favicon.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="//assets/seo/x64-favicon.png" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href="/assets/seo/x256-favicon.png" sizes="256x256" />
    <link rel="apple-touch-icon" type="image/png" href="/assets/seo/x256-favicon.png" />

    {# META #}
     <meta name="description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{{ config.keywords }}{% endif %}">
    <meta http-equiv="Content-Language" content="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=J, initial-scale=1.0" />

    {# FONT #}
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet"> 

    {# local font #}
    <link
          rel="preload"
          href="{{ '/fonts/Magic_Spell.woff2' }}"
          as="font"
          crossOrigin=""
        />

        {# SITE ICONS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {# CSS #}
    {# <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}"> #}

    {# TAILWIND #}
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">


  </head>
  <body class='font-body antialiased bg-green-900 text-gray-100'>
  {% include "partials/_navigation.njk" %}
 

  <main class='mx-auto min-h-screen max-w-2xl shadow-2xl py-12 px-8 md:px-10 sm:py-12 md:pb-20'>
    {{ content | safe }}
  </main>

  
    
  {% include "partials/_footer.njk" %}

  <script>
    var today = new Date()
    var year = today.getFullYear()
    document.getElementById('year').innerHTML = year
  </script>
    
  </body>
</html>

