<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if title and title != 'Home' %}{{title}} | {% endif %}{{ config.siteTitle }}</title>

    {# META #}
     <meta name="description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{{ config.keywords }}{% endif %}">
    <meta http-equiv="Content-Language" content="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=J, initial-scale=1.0" />

    {# CSS #}
    {# <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}"> #}

    {# TAILWIND #}
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">


  </head>
  <body class='antialiased bg-emerald-900 text-green-100'>
  {% include "partials/navigation.njk" %}
 

  <main class='mx-auto min-h-screen max-w-2xl bg-green-900 py-10 px-8 sm:py-12 md:pb-20'>
    {{ content | safe }}
  </main>

  
    
  {% include "partials/footer.njk" %}

  <script>
    var today = new Date()
    var year = today.getFullYear()

    document.getElementById('year').innerHTML = year
  </script>
    
  </body>
</html>
