---
layout: base
pagination: 
    data: collections.articlez
    size: 1
    alias: article
permalink: "/parchment/{{article.slug | slugify }}/"
templateEngineOverride: njk, md
eleventyComputed:
    title: "{{article.title | safe}}"
---

<article class='prose prose-headings:text-gray-50 text-gray-100 '>

<h1 class='text-center font-headingAlt'>
{{article.title}}
</h1>

<div class='prose-strong:text-gray-100 prose-code:text-gray-300 prose-a:text-gray-100 prose-a:font-semibold prose-hr:text-green-700 '>
{{article.contentMarkdown | markdown | safe}}
</div> 

<hr class='prose-hr:text-green-400'>


{% include "partials/_paginate.njk" %}

<div class="flex items-center gap-2 text-base mt-8 italic text-green-300">
<p>Originaly published on:</p> 
 <a class='not-prose text-green-300 font-bold' href='https://dantedecodes.hashnode.dev/{{article.slug}}' target="_blank"  rel="noopener noreferrer">Dante Decodes</a>
</div>
{# <div class="flex items-center gap-2 text-base">

    
</div> #}
</article>
