---
layout: base
pagination: 
    data: articles
    size: 1
    alias: article
permalink: "/parchment/{{article.slug | slugify }}/"
templateEngineOverride: njk,md
eleventyComputed:
    title: "{{article.title | safe}}"
---

<article class='prose prose-headings:text-gray-50 text-gray-100'>

<h1 class='text-center font-headingAlt'>
{{article.title}}
</h1>

<div class='prose-strong:text-gray-100 prose-code:text-gray-300 '>
{{article.contentMarkdown}}
</div> 

<hr>


<div class="flex items-center gap-2 text-lg">

<p>Originaly published on:</p>  <a class=' not-prose text-gray-100 font-bold' href='https://dantedecodes.hashnode.dev/{{article.slug}}' target="_blank"  rel="noopener noreferrer">Dante Decodes</a>
</div>
</article>
