---
title: Potions Room
layout: pageLayout
---

<h1 class='mb-2 text-4xl   sm:text-4xl md:mb-4 md:text-5xl'>Hi, I'm James 'Dante'</h1>

<p class='prose text-green-100 '>I am a Draziw, Curator and Professor. I believe that knowledge should be hared, and I try to do my part in that regard each day. I am on a journey to become a reknown Potions Master.</p>

Привет! я


