---
title: Parchment
layout: pageLayout
tags: page
order: 3
---

{% PageHeading heading="Parchment", subheading="My parchment is where I write down the things I am working on. It is where I figure out spells and potions." %}

{% PageSection "" %}
{% for article in articles %}
<a href="https://dantedecodes.hashnode.dev/{{article.slug}}"
target="_blank"  rel="noopener noreferrer"
class="mb-6 text-gray-300 bg-gray-900 p-4 block rounded"
>
<h3 class="text-xl md:text-2xl font-headingAlt text-gray-200">{{article.title}}</h3>
{# <img src="{{article.coverImage}}" alt="{{article.title}}" class="object-cover"> #}
<p class="prose text-gray-300 prose-sm md:prose-base line-clamp-3">{{article.brief}}</p>


</a>
   
{% endfor %}


   


{% endPageSection %}





