---
title: Potions
description: Various potions I have brewed
keywords: next.js, tailwindcss, react
layout: pageLayout
tags: page
order: 2
---

{% PageHeading heading="Potions", subheading="To be great potion master, one has to brew a lot of potions. Here are some of the potions I have concocted."%}

{% PageSection "Latest Potions" %}
   <div class="p-6 bg-black rounded"> Potion</div>
{% endPageSection %}








