---
title: Potions
description: Various potions I have brewed
keywords: next.js, tailwindcss, react
layout: pageLayout
tags: page
order: 2
---

{% PageHeading heading="Potions", subheading="To be great potion master, one has to brew a lot of potions. Here are some of the potions I have concocted."%}

{% PageSection "" %}
   
   {% for potion in potions %}
   <article role="potion card" class="bg-gray-900 p-6 mb-8 rounded flex flex-col gap-4">

      <h3 class="font-headingAlt text-xl md:text-2xl text-center">{{potion.title}}</h3>

      <img src="{{potion.image}}" alt="{{potion.title}}" class="rounded" width="{{potion.imageWidth}}" height="{{potion.imageHeight}}" >
      <p class='prose prose-sm md:prose-base text-gray-300 line-clamp-3 '>{{potion.description}}</p>

      <div class="flex items-center justify-around text-gray-300">
         <a href="{{potion.visit}}" target="_blank" rel="noopener noreferrer nofollow" class="flex items-center gap-1 uppercase no-underline hover:text-white transition duration-300 bg-gray-800 py-2 px-6 rounded">
            <img src="/assets/icons/warlock-eye.svg" class="h-5 w-5" alt="visit project">
            <span >Visit</span>
            </a>
         <a href="{{potion.source}}" target="_blank" rel="noopener noreferrer nofollow" class="flex items-center gap-1 uppercase no-underline hover:text-white transition duration-300 bg-gray-800 py-2 px-6 rounded">
            <img src="/assets/icons/github.svg" class="h-4 w-4 text-gray-300" >
            Source</a>
      </div> 

      <div class="flex items-center mx-auto gap-2 bg-gray-800 p-2 rounded-md">
         {% for tag in potion.tags %}
            <p class="text-xs">{{tag}}</p>
         {% endfor %}
         </div>
      
   </article>
   {% endfor %}
      
{% endPageSection %}








