---
title: Potions
tags: page
description: Various potions I have brewed
keywords: next.js, tailwindcss, react
layout: pageLayout
order: 2
---

{% PageHeading heading="Potions", subheading="To be great potion master, one has to brew a lot of potions. Here are some of the potions I have concocted."%}

<section class="mt-16">
    <h2 class="mb-4 font-headingAlt text-2xl font-semibold text-gray-100 md:text-3xl"> My Potions</h2>
</section>




{% Section content="I am section content"%}



