---
title: Spells
tags: page
layout: pageLayout
order: 4
---

{% PageHeading heading="Spells", subheading="No magician is complete without spells"%}

<section class="mt-16">
     <h2 class="mb-4 font-headingAlt text-2xl font-semibold text-gray-100 md:text-3xl">About me..</h2>
      <a href='mailto:jamesmidzi@gmail.com' class=''><i class="fa-solid fa-envelope"></i></a>
   
</section>
