---
title: Spells
tags: page
layout: pageLayout
order: 4
---

{% PageHeading heading="Spells", subheading="No wizard is complete without spells. Have a look at some of the spells I can cast and tools I use"%}

{% PageSection "Spells & Implements" %}
<article class="text-2xl flex flex-col gap-8 text-gray-300">
      <div class="flex items-center gap-4">
           
            
            <i class="fa-brands fa-html5" title="html"></i>
            <i class="fa-brands fa-css3-alt" title="css"></i>
            <i class="fa-brands fa-js" title="javascript"></i>
            <i class="fa-brands fa-react" title="react"></i>
            <i class="fa-brands fa-typo3" title="typo3"></i>
            <i class="fa-brands fa-wordpress" title="wordpress"></i>
      </div>
      <div class="flex items-center gap-4">
            <i class="fa-brands fa-git-alt" title="git"></i>
            <i class="fa-brands fa-figma" title="figma"></i>
            <i class="fa-brands fa-trello" title="trello"></i>
            <i class="fa-brands fa-markdown" title="markdown"></i>
      </div>
    
</article>
{% endPageSection%}

{% PageSection "Send An Owl"%}  
      <div class="text-2xl flex items-center gap-4">      
     <a href="https://hashnode.com/@Psypher1" aria-label="Hashnode Account" target="_blank" rel="noopener noreferrer nofollow" class="hover:scale-125 transition duration-300"> <i class="fa-brands fa-hashnode"></i></a>

     <a href="https://dev.to/psypher1" aria-label="Dev.to Account" target="_blank" rel="noopener noreferrer nofollow" class="hover:scale-125 transition duration-300"> <i class="fa-brands fa-dev"></i></a>

      <a href='mailto:jamesmidzi@gmail.com' aria-label="Send Email" class="hover:scale-125 transition duration-300"><i class="fa-solid fa-envelope"></i></a>
      </div>
{% endPageSection %}   


{% PageSection "" %}

 <a href="/resume.pdf" download="James Resume" target="_blank"
 class="text-center text-xl block bg-gray-900 p-4 rounded hover:bg-black transition duration-300"
 >Get MY O.W.Ls and N.E.W.Ts</a>
{% endPageSection%}

<h2 class="text-center text-3xl mt-28 font-heading tracking-wider">Mischief managed...</h2>

