---
title: Spells
tags: page
layout: pageLayout
order: 4
---

{% PageHeading heading="Spells", subheading="No wizard is complete without spells. Have a look at some of the spells I can cast and tools I use"%}

{% PageSection "Spells and Accolades" %}
<div class="text-2xl gap-4">
      <i class="fa-brands fa-html5"></i>
      <i class="fa-brands fa-css3-alt"></i>
      <i class="fa-brands fa-js"></i>
      <i class="fa-brands fa-react"></i>
      <i class="fa-brands fa-typo3"></i>
      <i class="fa-brands fa-wordpress"></i>
      <br/>
      <i class="fa-brands fa-git-alt"></i>
      <i class="fa-brands fa-figma"></i>
      <i class="fa-brands fa-trello"></i>
      <i class="fa-brands fa-markdown"></i>
</div>
{% endPageSection%}

{% PageSection "Send An Owl"%}  
      <div class='text-xl'>      
      <i class="fa-brands fa-hashnode"></i>
      <i class="fa-brands fa-dev"></i>
      <a href='mailto:jamesmidzi@gmail.com' class=''><i class="fa-solid fa-envelope"></i></a>
      </div>
{% endPageSection %}   

