<footer  class="p-4 flex items-center justify-center bg-black gap-2 text-gray-200">
   <p> Conjured by <span class='font-semibold'>{{ config.siteTitle }}</span>  |  &copy; <span id='year'></span> </p>
</footer>