<footer class="p-4 flex items-center justify-center bg-black gap-2">
   <h6> Conjured by <span class='font-semibold'>{{ config.siteTitle }}</span>  |  &copy; <span id='year'></span> </h6>
   
</footer>