<div class='mt-4 flex items-center gap-4 text-xl'> 
    <a class="hover:scale-125 transition duration-300" href="https://twitter.com/Psypher1" target="_blank" rel="noopener noreferrer nofollow" ><i class="fa-brands fa-twitter"></i></a>
    <a class="hover:scale-125 transition duration-300" href="https://github.com/Psypher1/" target="_blank" rel="noopener noreferrer nofollow"><i class="fa-brands fa-github"></i></a>
    <a class="hover:scale-125 transition duration-300" href="https://www.linkedin.com/in/jamesmidzi/" target="_blank" rel="noopener noreferrer nofollow"><i class="fa-brands fa-linkedin"></i></a>
</div>