 <nav class="p-4 flex items-center justify-center bg-black gap-2"> 
    <a href='/'>Home</a>
    <a href='/potions'>Potions</a>
    <a href='/parchment'>Parchment</a>
    <a href='/spells'>Spells</a>
    <a href='/owl'>Owl</a>
  </nav>